h1{
   text-align: justify;e
   font-size: 30pt;
   font-family: "Courier-New", monospace
   color: #033485;
}

p{
   text-align: justify;
   font-size: 15pt;
   font-family: "Courier New", monospace;
   color: #033485;
}
